<h1>php-proteus-slim HELP</h1>

<h2>Resize Examples (fit, force, thumbnail, adaptive)</h2>
<div>

    <h3>100x100</h3>
    
    <img src="/resize/saturn.png?type=fit&w=100&h=100" />
    <img src="/resize/saturn.png?type=force&w=100&h=100" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100" />
    <img src="/resize/saturn.png?type=adaptive&w=100&h=100" />
    
    <br>
    <h3>0x100</h3>
    
    <img src="/resize/saturn.png?type=fit&h=100" />
    <img src="/resize/saturn.png?type=force&h=100" />
    <img src="/resize/saturn.png?type=zoomCrop&h=100" />
    <img src="/resize/saturn.png?type=adaptive&h=100" />
    
    <br>
    <h3>100x0</h3>

    <img src="/resize/saturn.png?type=fit&w=100" />
    <img src="/resize/saturn.png?type=force&w=100" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100" />
    <img src="/resize/saturn.png?type=adaptive&w=100" />

    <h3>100x100 type zoomCrop, gravity options</h3>
    
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=n" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=ne" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=e" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=se" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=s" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=sw" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=w" />
    <img src="/resize/saturn.png?type=zoomCrop&w=100&h=100&g=nw" />

</div>

